@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

@font-face {
    font-family: "Santana-Black";
    src: url("http://db.onlinewebfonts.com/t/aa4fa7317c478848a62cc69bdbd47f0f.eot");
    src: url("http://db.onlinewebfonts.com/t/aa4fa7317c478848a62cc69bdbd47f0f.eot?#iefix") format("embedded-opentype"),
        url("http://db.onlinewebfonts.com/t/aa4fa7317c478848a62cc69bdbd47f0f.woff2") format("woff2"),
        url("http://db.onlinewebfonts.com/t/aa4fa7317c478848a62cc69bdbd47f0f.woff") format("woff"),
        url("http://db.onlinewebfonts.com/t/aa4fa7317c478848a62cc69bdbd47f0f.ttf") format("truetype"),
        url("http://db.onlinewebfonts.com/t/aa4fa7317c478848a62cc69bdbd47f0f.svg#Santana-Black") format("svg");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #E7E7E7;
    font-family: 'Raleway', sans-serif;
}